<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', style: 'width: 133px; height: 33px;', class: 'd-inline-block align-text-top'%>
    </a>
      <button class="btn btn-dark" type="submit">Create New AInimal</button>
  </div>
</nav>