<nav class="navbar bg-body-tertiary container-fluid bg-white" style="border-bottom: 1px solid black; position: fixed; z-index: 4;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', style: 'width: 133px; height: 33px;', class: 'd-inline-block align-text-top'%>
    </a>
      <%= link_to "Create new AInimal", new_ainimal_path, class: 'btn btn-dark' %>
  </div>
</nav>