<h1>Editing ainimal</h1>

<%= render "form", ainimal: @ainimal %>

<br>

<div class="container col-5 mt-3 text-center">
  <%= link_to "Show this ainimal", @ainimal, class:'btn btn-light' %> |
  <%= link_to "Back to ainimals", ainimals_path, class:'btn btn-light'%>
</div>
