<%= render 'header' %>


<div class="container-fluid row" style="padding-top: 300px; margin-bottom: 60px;">
  <div class="col-1"></div>
  <div class="col-7" >
    <h1 style="font-family: 'Montserrat', sans-serif; font-weight:600; font-size: 36px; letter-spacing: 0.09em; color: black;">Bienvenue chez Ainimals !</h1>
    <h4 style="font-family: 'Montserrat', sans-serif; font-weight:300; font-size: 24px; color: black;">Ce site est un catalogue d’animaux fictif. Nous utilisons l’intelligence artificielle Midjourney pour donner vie à notre imagination et vous transporter dans un monde parallèle où ces bêtes existent. </h4>
  </div>
  <div class="col-4"></div>
</div>
<%# <div class="container-fluid" style="width: 100%; height: 500px; overflow: hidden; position: absolute; z-index: 1;">
  <%= image_tag 'Desktop-min.png', class: 'container-fluid', style: 'max-width: 100%; height: 650px; position: absolute; z-index: 1'%>
<%# </div> %> 
<%# <div class="container-fluid" style="width: 100%; height: 500px; overflow: hidden; position: relative; z-index: 2;  background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.4232) 0.01%, rgba(0, 0, 0, 0.506) 38.15%, rgba(0, 0, 0, 0.92) 100%);">
  <%= image_tag 'Desktop-min.png', class: 'container-fluid', style: 'max-width: 100%; height: 650px; position: absolute; z-index: 1' %>
<%# </div> %> 


<div class="container flux">

  <div class="container">
    <% @ainimals.each do |ainimal| %>
    <div style="margin-bottom: 50px; margin-top: 50px;">
      <%= render ainimal %>
    </div>
    <% end %>
  </div>

</div>
