<h1 class="text-center">New ainimal</h1>

<%= render "form", ainimal: @ainimal %>

<br>

<div class="text-center">
  <%= link_to "Back to ainimals", ainimals_path, class: 'btn btn-light container text-center col-3' %>
</div>
